.kuk-cont{
  height: 20px;
}

.kuk-cont .link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  color: white;
  display: inline-block;
}

.link--kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: #EC4E00;
}

.link--kukuri:hover {
  color: #EC4E00;
}

.link--kukuri::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  top: 50%;
  margin-top: -1.5px;
  right: 0;
  background: #f9f9f9;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link--kukuri:hover::after {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.4s 0.3s;
  transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
  width: 100%;
}
