{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid secondary pl-0" >
        <div class="beginning-about" >
            <div class="catch-me" style="position: absolute;background-color:transparent; height:550px;width:100%;bottom:0;"></div>
            <div class="vertical-about left-right" >
                <div class="dark extralarge " style="margin-left:-8%;margin-top:-5%;"> ABOUT US.</div>
            </div>

            <!-- BIG TEXTS -->
            <div class="heading">
                <div class="largesize fadeIn original" style="position:absolute;margin-top:9.6%;margin-left:-0.3%;">strong</div>
                <div class="largesize fadeIn original" style="position:absolute;margin-top:22%;margin-left:54%;">open</div>
                <div class="largesize fadeIn original" style="position:absolute;margin-top:28.5%;margin-left:31.4%;">education</div>
                <div class="largesize fadeIn original" style="position:absolute;margin-top:38%;margin-left:10%;">importance</div>
                <div class="largesize fadeIn original" style="position:absolute;margin-top:52.2%;margin-left:25%;">cs</div>
                <div class="largesize fadeIn white" style="position:absolute;margin-top:52.2%;margin-left:40%;">everyone</div>
                <div class="largesize fadeIn original" style="position:absolute;margin-top:66.3%;margin-left:3.4%;">zbunker.</div>
                <div class="heading med-heading fadeIn test1" style="position:absolute;margin-top:66.3%;margin-left:-15%;"><i><a href="https://www.github.com/p0intMaN" style="text-decoration: none; color:inherit">P0INTMAN.</a> </i></div>
                <div class="heading med-heading fadeIn test1" style="position:absolute;margin-top:68%;margin-left:-15%;"><i><a href="https://www.github.com/CYBERDEVILZ" style="text-decoration: none; color:inherit">CYBERDEVILZ.</a> </i></div>
                
                <!-- underline in between -->
                <div class="un-anywhere un-anywhere-white" style="margin-top:25%;"></div>
                <div class="un-anywhere" style="margin-top:65%;margin-left:39%;width:40%"></div>

                <!-- Paragraphs -->
                <p> 
                    when <span class="reveal-text original">passion, creativity and perfection</span> got the right people to mess with.<br>
                    
                    We are a bunch of <span class="reveal-text original">university undergrads</span> with<br>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;grasp on <span class="reveal-text delayp2s original">computer science</span> <br><span class="reveal-text original" >fundamentals</span>
                    <br><br>
                    We <span class="reveal-text delayp5s original">strongly believe</span> in the essence of<br><br>
                    <span class="reveal-text delayp3s">and recognise the</span> <br><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;of technology. <br>
                     we had an ambition and so <span class="below-abouty original">we decided to contribute </span><br>to the principle:
                    &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<span class="below-abouty original delayp2s">for</span> <br>
                    <br><span class="below-abouty delayp5s">this marked the beginning of </span>
                    
                </p>
            </div>
        </div>    
    </div>
    <script src="{{ url_for('static', filename='js/about.js') }}" ></script>
{% endblock %}