{% extends "layout.html" %}
{% from 'footer.html' import footer %}
{% block content %}

    <div class="container-fluid pl-0 secondary">

        <!-- topic -->
        <div class="topic-heading">
            <div class="heading xxl-heading reveal-no-effect">get in touch</div>
        </div>

        <!-- contact section -->
        <div class="contact-section">
            <div class="contact-wrapper">

            </div>
        </div>

        <!-- footer section -->
        {{ footer() }}
    </div>

    
{% endblock %}
