{% extends "layout.html" %}
{% from 'footer.html' import footer %}
{% block content %}

    <div class="container-fluid pl-0 secondary">

        <!-- topic -->
        <div class="topic-heading">
            <div class="heading xxl-heading rise-down">get in touch</div>
        </div>

        <!-- contact section -->
        <div class="contact-section">
            <div class="contact-wrapper">
                <div class="right-contact">
                    <div class="trigger1"></div>
                    <div class="heading xxxl-heading gray italics shift-done">P0INTMAN</div>
                </div>

                <div class="left-contact" style="position: relative;">
                    <div class="trigger2" style="position: absolute;height: 80px;width: 80px;"></div>
                    <div class="heading xxxl-heading gray italics shift2">CYBERDEVILZ</div>
                </div>
            </div>
        </div>

        <!-- footer section -->
        {{ footer() }}
    </div>

    <script src="../static/js/contact.js"></script>
    
{% endblock %}
