{% extends "layout.html" %}
{% from 'footer.html' import footer %}
{% block content %}

    <div class="container-fluid pl-0 secondary">

        <!-- topic -->
        <div class="topic-heading">
            <div class="heading xxl-heading rise-down original">get in touch</div>
        </div>

        <!-- contact section -->
        <div class="contact-section">
            <div class="contact-wrapper">
                <div class="contact">
                    <div class="right-contact">
                        <div class="trigger1"></div>
                        <div class="heading xxxl-heading gray italics shift-done">P0INTMAN</div>
                    </div>
                    <div class="right-contact-content">
                        <div class="contact-content content1 appear">
                            <div class="contact-info">
                                <div class="heading underline">Web Developer | Instructor</div>
                            </div>
                            <div class="contact-img">
                                <img src="../static/img/pointman.jpg" height="400">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="contact">
                    <div class="left-contact">
                        <div class="trigger2" style="position: absolute;height: 80px;width: 80px;"></div>
                        <div class="heading xxxl-heading gray italics shift2">CYBERDEVILZ</div>
                        <div class="trigger3" style="position: absolute;height: 80px;width: 80px; background-color: blue; top:40%;"></div>
                    </div>
                    <div class="left-contact-content">
                        <div class="contact-content content2">
                            <div class="contact-info">
                                <div class="heading underline">Security Analyst | Instructor</div>
                            </div>
                            <div class="contact-img">
                                <img src="../static/img/pointman.jpg" height="400">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- footer section -->
        {{ footer() }}
    </div>

    <script src="../static/js/contact.js"></script>
    
{% endblock %}
