{% extends  "layout.html" %}
{% block content %}

    <div class="container-fluid secondary pl-0">
        
        <!-- community donations graph -->
        <div class="community-goals"style="padding-top:80px;">
            <!-- logo -->
            <div class="heading donation-logo"style="position:relative;line-height: 800px;letter-spacing:-100px; z-index:0">
                <div class="letter" style="--fillvar:{{filler}}">zb</div>
                <div class="un-anywhere below-logo"style="--fillmarker: {{marker}};"></div>
            </div>

            <!-- description -->
            <div class="heading donation-desc center">
                <div class="heading">
                    your memberships keep zbunker alive and running
                </div>
                <div class="heading large-heading original" style="line-height: 100px;font-size: 70px; padding-top:60px;">our goal : {{ total }}</div>
                <div class="heading large-heading original" style="line-height: 100px;font-size: 70px;">total members : {{ members }}</div>
                <div class="heading" style="padding-top: 50px;">
                    help us make it happen
                </div>
                <div class="how-to-donate">
                    <a href="#how-to-contribute" class="donate-links">how to support?</a>
                    <a href="{{url_for('sponsor')}}" class="donate-links">our Sponsors & Members</a>
                </div>
            </div>
        </div>
        <!-- community donations graph  ends-->
        
        <!-- Contribution Guide -->
        <div class="contribution-guide" style="padding-top: 80px;">
            
            <!-- heading -->
            <div class="topic center">
                <div class="heading center underline un-white" style="display:inline-block; font-size:80px;" id="how-to-contribute">
                    Support ZBunker community
                </div>
            </div>

            <!-- content -->
            <div class="support-us secondary">

                <!-- vertical-text -->
                <div class="vertical-text-large" >
                    <div class="dark extralarge " style="margin-right:-8%;margin-top:-5%;"> support us.</div>
                </div>

                <!-- youtube card -->
                <div class="youtube-support">
                    <div class="support-card support-card-top">
                        <div class="back-setting"></div>
                        <div class="front-setting">
                            <!-- logo -->
                            <div class="yt-logo">
                                <a href="https://www.youtube.com/channel/UC1QZPervOHLiC4xpVnzbDFg" target="_blank"><i class="fa fa-youtube-play fa-10x icon-3d"></i></a>
                            </div>
                            
                            <!-- description -->
                            <div class="card-description">
                                <div class="heading underline un-white">zbunker youtube channel</div>
                                
                                <div class="heading sm-heading grey pr-5">ZBunker is a community run by a bunch of university 
                                    students with an aim to spread awareness about open source and the power of 
                                    programmming. The main mode of education is through our YouTube channel, where we 
                                    will walk you through some of the popular programming languages and how you can 
                                    develop a skill set in the tech domain.<br><br>

                                    click on the logo to checkout our YT channel
                                </div>

                                <div class="heading med-heading pt-3 original">support us. make an impact.</div>
                            </div>
                        </div>       
                    </div>  
                </div>
                <!-- youtube card ends -->

                <!-- prime card -->
                <div class="prime-support">
                    <div class="support-card support-card-bottom">
                        <div class="back-setting back-setting-primary"></div>
                        <div class="front-setting">
                            <!-- logo -->
                            <div class="prime-logo">
                                <a href="{{url_for('register')}}" target="_blank" class="icon-3d">PR</a>
                            </div>
                            
                            <!-- description -->
                            <div class="card-description">
                                <div class="heading underline un-white">zbunker prime membership</div>
                                
                                <div class="heading sm-heading grey pr-5">ZBunker Prime is a donation-cum-membership scheme. By choosing
                                    to become a Prime member, you are donating to the ZBunker Community. The donation is only one time
                                    payment. As a token of thanks, we will be putting up your name on the sponsors page and avail
                                    other benefits like discounts on zbunker merchandises, early video access among many.<br><br>

                                    click on the logo to register yourself as a zbunker prime member or to know more about it.
                                </div>

                                <div class="heading med-heading pt-3 original">zbunker prime. take control.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- prime card ends -->
                
            </div>
            <!-- content ends -->

        </div>
        <!-- contribution-guide ends -->

    </div>
    <!-- entire wrapper -->

    
{% endblock %}