{% from 'tag_cloud.html' import tagCloud %}
{% from 'footer.html' import footer %}
{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid p-0 black">
        <div class="crypt-heading heading headingtext" data-item = 'ethical hacking' style="font-size:90px;padding-top:80px;"></div>

        <!-- jump to category -->
        <div class="container-fluid p-0">
          <div class="inner-container">

            <!-- videos -->
            <div class="videos">
              <!-- video1 -->
              <div class="video" id="eth1">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-1.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Installing Virtual Box and Parrot OS</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video explains you how to install VirtualBox and Parrot OS onto your device. In future videos I will be using Parrot OS to perform hacktivities, you can use any hacking OS [ either Parrot or Kali ] you want. Hence, if you are a Kali user, don't bother yourself downloading a fresh image of Parrot OS, the stuffs will work in Kali as well</p>
                  </div>
                </div>
              </div>

              <!-- video2 -->
              <div class="video" id="eth2">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-2.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Preparing Your Own Lab</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video explains you how to configure your virtual box to create a virtual NAT network in which we will be connecting our parrot OS. We are also gonna install Guest Additions in PARROT OS to resolve some common problems.</p>
                  </div>
                </div>
              </div>

              <!-- video3 -->
              <div class="video" id="eth3">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-3.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Installing Metasploitable2 vulnerable Linux Machine</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Metasploitable is a vulnerable Linux Server created to be hacked. Hence we can practice some common exploits on this server to understand how hacking really works in the real world and how to prevent them.</p>
                  </div>
                </div>
              </div>

              <!-- video4 -->
              <div class="video" id="eth4">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-4.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Network Configuration of Metasploitable2</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video explains you how to add the vulnerable machine METASPLOITABLE2 into the network where Parrot OS is connected. This is because, we want them to be in the same network so that we can reach out to the machine and access it.</p>
                  </div>
                </div>
              </div>

              <!-- video5 -->
              <div class="video" id="eth5">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-5.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">hacker's Methodology</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, I will tell you how a hacker, in general, devises his strategy to exploit the system.
                      Remember that every hacker has his own ways to deal with such situations, but all of them boils down to these steps, which I will discuss in this video.</p>
                  </div>
                </div>
              </div>

              <!-- video6 -->
              <div class="video" id="eth6">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-3.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/BKrBR_jNZbI">Introduction to Wi-Fi Hacking Series</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video will cover the prerequisite for Wi-Fi hacking. What all you need to prepare beforehand to get started into hacking Wi-Fi(s). I will also explain a few concepts like packet injection and monitor mode and will also discuss about which wireless adapter to buy when it comes to Wi-Fi hacking.</p>
                  </div>
                </div>
              </div>

              <!-- video7 -->
              <div class="video" id="eth7">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-3.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/2eZom8Wloaw">Install Wireless Driver for Kali Linux</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Hey hackers!
                      In this video, I am gonna show you how you can install wireless driver for Kali Linux and Parrot OS if you don't have a driver installed already. The steps are pretty simple and easy to do. So just follow along with the video, like and support the channel and help us in spreading this series to everybody. It will highly motivate us in making more contents
                      </p>
                  </div>
                </div>
              </div>

              <!-- video8 -->
              <div class="video" id="eth8">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-3.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/0MmJxlwOKLc">Enabling Monitor Mode</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, I will be showing how you can enable monitor mode in your TLWN722N V2 (which does not support monitor mode as claimed by the manufacturer) or other Wi-Fi adapters that supports monitor mode.

                      There is a way in which you can override the firmware of TLWN722N V2 Wi-Fi adapter and force it to support monitor mode. And as a result, the method to enable monitor mode will be completely different from that of other generic Wi-Fi adapters that support monitor mode. Anyways I have covered both the methods to keep both sides satisfied : )
                      </p>
                  </div>
                </div>
              </div>

              <!-- video9 -->
              <div class="video" id="eth9">
                <img src="../static/img/ethical-hacking/ethical-hacking-part-3.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/LmdhWsccv4w">Packet Sniffing using Airodump-ng</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Hello hackers!
                      In this video, I have explained how you can perform packet sniffing using the most sought after tool: Airodump-ng. The coolest part is that you don't have to connect to the Wi-Fi network at all to sniff the packets! All you need is a Wi-Fi adapter that supports monitor mode and airodump-ng.
                      
                      This video is a part of the Wi-Fi Hacking series playlist. If you wanna take a look at more cool stuffs like this, make sure to check it out! I will provide the link below.</p>
                  </div>
                </div>
              </div>

            </div>
            <!-- videos section end -->

            <!-- sidebar -->
            <div class="sidebar">
              <div class="sidebar-content">
                
                <div class="sidebar-item-level">
                  <div class="level">level - intermediate</div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">contents</div>
                    </div>
                    
                    <ul class="sidebar-list">
                      <li><a href="#eth1">Installing Virtual Box and Parrot OS</a></li>
                      <li><a href="#eth2">Preparing Your Own Lab</a></li>
                      <li><a href="#eth3">Installing Metasploitable2</a></li>
                      <li><a href="#eth4">Network Configuration of Metasploitable2</a></li>
                      <li><a href="#eth5">Hacker's Methodology</a></li>
                      <li><a href="#eth6">Introduction to Wi-Fi Hacking Series</a></li>
                      <li><a href="#eth7">Install Wireless Driver</a></li>
                      <li><a href="#eth8">Enabling Monitor Mode</a></li>
                      <li><a href="#eth9">Packet Sniffing Using Airodump-ng</a></li>
                    </ul>                                                                                                                                                                                                                                     </ul>
                  </div>
                </div>

                <!-- explore others -->
                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">EXPLORE OTHERS</div>
                    </div>

                    {{ tagCloud() }}

                  </div>
                </div>

                <!-- author -->
                <div class="sidebar-item">
                  <div class="heading center"><i>cyberdevilz.</i></div>
                </div>

              </div>
            </div>
            <!-- sidebar end -->

          </div>
          <!-- inner container end -->
        </div>        
        <!--container end  -->

        <!-- footer-section -->
        {{ footer() }}

    </div>
    <!-- main container end -->


    <!--Back-to-Top button-->
    <div class="enclose bordar black" id="bottomtoup" ><i class="fas fa-caret-up"></i></div>

    <script src="../static/js/crypt.js"></script>
    <script src="{{ url_for('static', filename='js/bottomtoup.js') }}" ></script>

{% endblock %}

