{% from 'footer.html' import footer %}
{% extends  "layout.html" %}
{% block content %}

    <div class="container-fluid black pl-0">

        <!-- topic -->
        <div class="topic-heading">
            <div class="heading large-heading">this is filtergrid page</div>
        </div>

        <!-- filter menu -->
        <div class="filter-menu">

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link" data-filter="filter-all">All</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link" data-filter="filter-prog">Programming</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link" data-filter="filter-dev">Development</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link" data-filter="filter-cyber">Cybersecurity</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link" data-filter="filter-fund">Fundamentals</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link" data-filter="filter-oth">Others</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link clear-results" data-filter="filter-clr">CLEAR RESULTS</div></div>
            </div>

        </div>
        <!-- filter menu ends -->

        <div class="gallery">
            <!-- AI -->
            <!-- <div class="imageBox filter-fund">
                <img src="../static/img/ai-fade.png">
            </div> -->
            <!-- mongo -->
            <div class="imageBox filter-dev">
                <img src="../static/img/mongo-fade.png">
            </div>
            <!-- git -->
            <div class="imageBox filter-dev">
                <img src="../static/img/git-fade.png">
            </div>
            <!-- postgres -->
            <div class="imageBox filter-dev">
                <img src="../static/img/zglitch.gif">
            </div>
            <!-- linux -->
            <div class="imageBox filter-dev">
                <img src="../static/img/linuxfade.png">
            </div>
            <!-- nmap -->
            <div class="imageBox filter-cyber">
                <img src="../static/img/nmap-fade.jpg">
            </div>
            <!-- python -->
            <div class="imageBox filter-prog">
                <img src="../static/img/emergingpython.png">
            </div>
            <!-- ethical hacking -->
            <div class="imageBox filter-cyber">
                <img src="../static/img/emergingpython5.png">
            </div>
        </div>

        <!-- footer-section -->
        {{ footer() }}

    </div>
    <!-- main container ends -->

    <!-- Explicitly calling JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Filter script -->
    <script src="../static/js/filtergrid.js"></script>
{% endblock %}
