{% from 'footer.html' import footer %}
{% extends  "layout.html" %}
{% block content %}

    <div class="container-fluid black pl-0">

        <!-- topic -->
        <div class="topic-heading">
            <div class="heading large-heading">this is filtergrid page</div>
        </div>

        <!-- filter menu -->
        <div class="filter-menu">

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link">All</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link">Open Source</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link">Programming</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link">Development</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link">Cybersecurity</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link">Fundamentals</div></div>
            </div>

            <div class="filter-menu-item">
                <div class="filter-category"><div class="filter-link">Others</div></div>
            </div>

        </div>
        <!-- filter menu ends -->

        <!-- footer-section -->
        {{ footer() }}

    </div>
    <!-- main container ends -->

{% endblock %}