{% macro footer() %}
    <div class="footer-cover">
        <div class="primary-footer-section">
         
            <!-- logo -->
            <div class="endingimg" style="padding-top:0px;">
                <img src="../static/img/zglitch.gif" style="height: 200px;">
            </div>
         
            <!-- tagline -->
            <div class="footer-tagline">
                <div class="tagline">strongly supporting open source since the induction</div>
            </div>

            <!-- footer navigation -->
            <div class="footer-nav-cover">
                <div class="footer-nav">
                    <div class="footer-nav-item">
                        <a href="{{ url_for('home') }}">Home</a>
                    </div>

                    <div class="footer-nav-item">
                        <a href="https://www.youtube.com/channel/UC1QZPervOHLiC4xpVnzbDFg" rel="noopener noreferrer" target="_blank" >Youtube</a>
                    </div>

                    <div class="footer-nav-item">
                        <a href="{{ url_for('home') }}">Contact</a>
                    </div>

                    <div class="footer-nav-item">
                        <a href="{{ url_for('zbunkerprime') }}">Support Us</a>
                    </div>
                </div>
            </div>
            <!-- copyright -->

        </div>
        <!-- footer content ends -->
    </div>
    <!-- footer cover ends -->
    
{% endmacro %}