{% macro footer() %}
    <div class="footer-cover">
        <div class="primary-footer-section">
         
            <!-- logo -->
            <div class="endingimg" style="padding-top:0px;">
                <img src="../static/img/zglitch.gif" style="height: 200px;">
            </div>
         
            <!-- tagline -->
            <div class="footer-tagline">
                <div class="tagline">strongly supporting open source since the induction</div>
            </div>
        </div>
        <!-- footer content ends -->
    </div>
    <!-- footer cover ends -->
    
{% endmacro %}