{% extends "layout.html" %}
{% block content %}

<div class="tetsuozbunker">
    <div class="zbunkerherowrapper2">
        <div class="zglitch">
            <!-- zglitch -->
        </div>


        <div class="landingcontainer">
            <div class="text-wrapper">
                <div class="text-1 text"> explore more</div>
                <div class="text-2 text"> explore more</div>
                <div class="text-3 text"> explore more</div>
                <div class="text-4 text"> explore more</div>
                <div class="text-5 text"> explore more</div>
                <div class="text-6 text"> explore more</div>
                <div class="text-7 text"> explore more</div>
                <div class="text-8 text"> explore more</div>
                <div class="text-9 text"> explore more</div>
                <div class="text-10 text">explore more</div>
                <div class="text-11 text">explore more</div>
            </div>
        </div>
        <div class="primebtn customheight">
            <button class="butn butn-transp butn-resp" onclick="window.location.href = '/home'">
                <span class="butn__inner">
                    <span class="butn__slide"></span>
                    <span class="butn__content">explore the courses</span>
                </span>
                </button>
            </div>
        </div>

        
    </div>
</div>
{% endblock %}