<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- favicon -->
    <script src="https://kit.fontawesome.com/f1d715eefc.js" crossorigin="anonymous"></script>
    <!-- main.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/hola.css') }}">
    
    <!-- venobox -->
    <link rel="stylesheet" href="{{ url_for('static',filename='venobox/venobox.css') }}" type="text/css" media="screen" />

    <!-- swiper -->
    <link rel="stylesheet" href="../static/swiper/swiper-bundle.min.css" />

    <title>
        {% if title %}
            ZBunker · {{title}}
        
        {% else %}
            ZBunker
        {% endif %}
    </title>
  </head>

  <body>
      <!-- Navbar (condition: If title is landing, then don't show navbar) -->
      {% if title != "Landing" %}
      <header class="navbar navbar-expand-lg zbunkernav">
        <a href="{{url_for('home')}}">
          <div class="zbunkerlogo">
            <img src="../static/img/zglitch.gif" alt="" class="logo">
          </div>
          
        </a>
        <nav>
          <ul class="navlinks" style="position: relative; z-index:100;">
            <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="HOME" href="{{url_for('home')}}">Home</a></li></div>
            <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="About" href="{{url_for('about')}}">about</a></li></div>
            <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="access basic" href="{{url_for('basic')}}">access basic</a></li></div>
            <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="sponsors" href="{{url_for('sponsor')}}">sponsors</a></li></div>
            <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="support us / donate" href="{{url_for('zbunkerprime')}}">support us / donate</a></li></div>
            {% if current_user.is_authenticated %}
            <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="access prime" href="{{url_for('logout')}}">access prime </a></li></div>
            <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="logout" href="{{url_for('logout')}}">logout </a></li></div>
            {% if current_user.username == "admin" %}
              <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="admin rights" href="{{url_for('logout')}}">admin rights</a></li></div>
            {% endif %}
            {% else %}
            <li><div class="kuk-cont"><a class="link link--kukuri" data-letters="Login" href="{{url_for('login')}}">Login</a></li></div>

            <!-- primebutton -->
            <div class="primebtn customheightfornav "> 
              <button class="butn butn-white butn-resp" onclick="window.open('/prime','_blank')">
                  <span class="butn__inner innerfornav">
                      <span class="butn__slide"></span>
                      <span class="butn__content fornav">join prime</span>
                  </span>
                  </button>
              </div>
          </div>
            {% endif %}
          </ul>
        </nav>
      </header>

      <!-- experimental background :p -->
      <section class="bgexp">

      </section>

      {% endif %}
      {% block content %}{% endblock %}
 

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    

    <!-- <script src="../static/carousel.js"></script> -->
    
    <!-- venobox -->
    <script src="../static/venobox/venobox.min.js"></script>
    <!-- initialising venobox -->
    <script>
      $(document).ready(function(){
        $('.venobox').venobox(
          {
            'spinner':'wave',
            'spinColor':'#ec4e00',
          }
        ); 
      });
    </script>    

    <!-- custom carousel -->
    <!-- <script src="../static/ccarousel.js"></script> -->
    
  </body>
</html>