{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid p-0 black">
        <div class="crypt-heading heading headingtext" data-item = 'Linux Essentials' style="font-size:90px;padding-top:80px;"></div>

        <!-- jump to category -->
        <div class="container-fluid p-0">
          <div class="inner-container">

            <!-- videos -->
            <div class="videos">
              
              <!-- video1 -->
              <div class="video" id="linux1">
                <img src="../static/img/linux/linux-0.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/brJuW--sLfg">Introduction to Linux</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Hello my fellow coders!
                      I am too excited to start a new course on Linux Essentials. Linux is everywhere. The page you are viewing is most probably sent to you by a Linux server. Linux is considered to be the most favorite Operating System among developers. If you were to apply for work in a software cum service based environment,  I am sure that learning Linux will give you an extra edge  over other candidates. Due to it being open-sourced, Linux dominates the programming domain. So why not learn this skill and add it to your Tech Stack?

                      So without any further delay, let's jump into the course!</p>
                  </div>
                </div>
              </div>

              <!-- video2 -->
              <div class="video" id="linux2">
                <img src="../static/img/linux/linux-1.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/9MR73mG8GHA">Linux Directory Structure</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">It is important to learn how files and directories are organized in Linux. Do you know what are the purpose of each directories? Where are log files stored? Can you find the number of users present in Linux by just looking at the directory? You can answer these questions and much much more in this video. I Hope you will learn something new today :) 
                    </p>
                  </div>
                </div>
              </div>

              <!-- video3 -->
              <div class="video" id="linux3">
                <img src="../static/img/linux/linuxrepo.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/Wn63k3uCRMA">The linux Repository</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will be Initializing our linux Repository. Now, there are two ways to initialize the repository:<br> 1) On an existing project<br> 2) Remotely.<br> In this video, we will stick to creating linux on an existing project (sometimes called, locally)</p>
                  </div>
                </div>
              </div>

              <!-- video4 -->
              <div class="video" id="linux4">
                <img src="../static/img/linux/linuxstage.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/U1sCfoyXO3I">linux Stages</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will look into the different stages of linux. So, when you decide to commit some changes to linux,  you would have to go through these stages. Now, stages are pretty important to understand before we move on to do linux add and linux commit  commands (which will be covered </p>
                  </div>
                </div>
              </div>

              <!-- video5 -->
              <div class="video" id="linux5">
                <img src="../static/img/linux/linux add & commit.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/6YW1daHhT68">linux Add & linux Commit</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will look work with linux add and linux commit commands. linux add is used to put the files into staging area while commit is used to move the files from staging area to the linux repository.

                      We would also be covering some additional scenarios to help understand these concepts better.</p>
                  </div>
                </div>
              </div>

              <!-- video6 -->
              <div class="video" id="linux6">
                <img src="../static/img/linux/linuxignore.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/hZfwreRtgYY">linuxignore: ignoring is important</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Every time whenever you create a new file, or do some modifications in the existing file, linux immediately catches it. It is very useful, but sometimes it can get irritating when you have files that you don't want linux to track and still appears in the untracked list (working area).</p>
                  </div>
                </div>
              </div>



            </div>
            <!-- videos section end -->

            <!-- sidebar -->
            <div class="sidebar">
              <div class="sidebar-content">
                
                <div class="sidebar-item-level">
                  <div class="level">level - basic | intermediate</div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">contents</div>
                    </div>
                    
                    <ul class="sidebar-list">
                      <li><a href="#linux1">Introduction</a></li>
                      <li><a href="#linux2">Directory Structure</a></li>
                      <li><a href="#linux3">cd Command</a></li>
                      <li><a href="#linux4">ls Command</a></li>
                      <li><a href="#linux5">Files & Folder Participants</a></li>
                      <li><a href="#linux6">Users, Groups & Sudo</a></li>
                    </ul>                                                                                                                                                                                                                                     </ul>
                  </div>
                </div>

                <!-- explore others -->
                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">EXPLORE OTHERS</div>
                    </div>

                    <div class="tag-cloud">
                      <div class="tags">
                        <a href="https://www.youtube.com">Python</a>
                        <a href="https://www.youtube.com">Ethical Hacking</a>
                        <a href="https://www.youtube.com">Linux</a>
                        <a href="https://www.youtube.com">Nmap</a>
                        <a href="https://www.youtube.com">AI Basics</a>
                        <a href="https://www.youtube.com">linux Essentials</a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- author -->
                <div class="sidebar-item">
                  <div class="heading center"><i>cyberdevilz.</i></div>
                </div>

              </div>
            </div>
            <!-- sidebar end -->

          </div>
          <!-- inner container end -->
        </div>        
        <!--container end  -->
    </div>
    <!-- main container end -->


    <!--Back-to-Top button-->
    <div class="enclose bordar black" id="bottomtoup" ><i class="fas fa-caret-up"></i></div>

    <script src="../static/crypt.js"></script>
    <script src="{{ url_for('static', filename='js/bottomtoup.js') }}" ></script>

{% endblock %}

