{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid p-0 black">
        <div class="crypt-heading heading headingtext" data-item = 'Linux Essentials' style="font-size:90px;padding-top:80px;"></div>

        <!-- jump to category -->
        <div class="container-fluid p-0">
          <div class="inner-container">

            <!-- videos -->
            <div class="videos">
              
              <!-- video1 -->
              <div class="video" id="linux1">
                <img src="../static/img/linux/learnlinux.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/c8SWWswEZz8">Introduction to linux</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video marks the beginning of the linux playlist where we would be covering this awesome version control tool.</p>
                  </div>
                </div>
              </div>

              <!-- video2 -->
              <div class="video" id="linux2">
                <img src="../static/img/linux/settinguplinux.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/FpUjePCuhJw">Setting Up linux</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will be installing and configuring linux. Apart from this, we will also be verifying the linux installation.</p>
                  </div>
                </div>
              </div>

              <!-- video3 -->
              <div class="video" id="linux3">
                <img src="../static/img/linux/linuxrepo.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/Wn63k3uCRMA">The linux Repository</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will be Initializing our linux Repository. Now, there are two ways to initialize the repository:<br> 1) On an existing project<br> 2) Remotely.<br> In this video, we will stick to creating linux on an existing project (sometimes called, locally)</p>
                  </div>
                </div>
              </div>

              <!-- video4 -->
              <div class="video" id="linux4">
                <img src="../static/img/linux/linuxstage.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/U1sCfoyXO3I">linux Stages</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will look into the different stages of linux. So, when you decide to commit some changes to linux,  you would have to go through these stages. Now, stages are pretty important to understand before we move on to do linux add and linux commit  commands (which will be covered </p>
                  </div>
                </div>
              </div>

              <!-- video5 -->
              <div class="video" id="linux5">
                <img src="../static/img/linux/linux add & commit.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/6YW1daHhT68">linux Add & linux Commit</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will look work with linux add and linux commit commands. linux add is used to put the files into staging area while commit is used to move the files from staging area to the linux repository.

                      We would also be covering some additional scenarios to help understand these concepts better.</p>
                  </div>
                </div>
              </div>

              <!-- video6 -->
              <div class="video" id="linux6">
                <img src="../static/img/linux/linuxignore.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/hZfwreRtgYY">linuxignore: ignoring is important</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Every time whenever you create a new file, or do some modifications in the existing file, linux immediately catches it. It is very useful, but sometimes it can get irritating when you have files that you don't want linux to track and still appears in the untracked list (working area).</p>
                  </div>
                </div>
              </div>

              <!-- video7 -->
              <div class="video" id="linux7">
                <img src="../static/img/linux/linuxdiff.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/_hPF4JiNJ1Y">linux Diff</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this very short video, we will look at the linux diff command. Diff command is used to list the difference between two versions of a file, between two commits or even between two branches.

                      We will be covering the above three cases with less emphasis on the third case since we have never touched upon the branching part. But, in the next video, we will be implementing the third case as we build our branches and start working on it.</p>
                  </div>
                </div>
              </div>

              <!-- video8 -->
              <div class="video" id="linux8">
                <img src="../static/img/linux/linuxbranch.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/gR5VB2XGlCU">linux Branch</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">One of the main purpose of linux was to introduce a branched workflow in development environments. It has many advantages whether you are working with a team or alone. Incorporating branched workflow is a good developmental practice and it is made possible by linux's branch command.</p>
                  </div>
                </div>
              </div>

              <!-- video9 -->
              <div class="video" id="linux9">
                <img src="../static/img/linux/linuxhead.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/HvDjbAa9ZsY">Head & Detached Head</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">If you have worked with linux, you might have come across a message saying 'head is now in a detached state'. Well, this happens particularly when you checkout a commit instead of a branch. In this video, we will cover in detail what exactly a head is and what is the detached head scenario.</p>
                  </div>
                </div>
              </div>

              <!-- video10 -->
              <div class="video" id="linux10">
                <img src="../static/img/linux/linuxlog.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/u8O6XaLiu6w">linux Log & some flags</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this short video, we will be covering linux log command and couple of flags that come along with it.
                      linux log command lists out your commits history of the current branch. Its the go-to command to know everything about your commits.
                      
                      We will cover linux log and some important flags in this video. These flags format the output of linux log which spits out many information and is also visually appealing.</p>
                  </div>
                </div>
              </div>

              <!-- video11 -->
              <div class="video" id="linux11">
                <img src="../static/img/linux/linuxreset.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/-NPOCTNwd08">linux Reset</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Not always our commit goes right. You might encounter a situation where you felt like the current edited file should have been committed earlier or did really bad commits. Whatever your reason maybe, if you want to reset back to a particular commit, linux reset helps you with that.</p>
                  </div>
                </div>
              </div>

              <!-- video12 -->
              <div class="video" id="linux12">
                <img src="../static/img/linux/linuxreflog.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/RVu8lpS7JFY">linux Reflog</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Often we wonder,  whether linux even maintains histories of not just commits, but all the other actions that we did like branching, checkouts, merging among many. Well, linux Reflog does exactly that.

                      The big brother of log, linux Reflog is known to track any activities that you do which makes the branch pointer to move. With linux Reflog, you are under constant surveillance, not a single impactful action goes untracked.</p>
                  </div>
                </div>
              </div>



            </div>
            <!-- videos section end -->

            <!-- sidebar -->
            <div class="sidebar">
              <div class="sidebar-content">
                
                <div class="sidebar-item-level">
                  <div class="level">level - basic | intermediate</div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">contents</div>
                    </div>
                    
                    <ul class="sidebar-list">
                      <li><a href="#linux1">Introduction</a></li>
                      <li><a href="#linux2">Setting Up</a></li>
                      <li><a href="#linux3">linux Repository</a></li>
                      <li><a href="#linux4">linux Stages</a></li>
                      <li><a href="#linux5">linux Add & linux Commit</a></li>
                      <li><a href="#linux6">linux .linuxignore</a></li>
                      <li><a href="#linux7">linux Diff</a></li>
                      <li><a href="#linux8">linux Branch</a></li>
                      <li><a href="#linux9">Head & Detached Head</a></li>
                      <li><a href="#linux10">linux Log</a></li>
                      <li><a href="#linux11">linux Reset</a></li>
                      <li><a href="#linux12">linux Reflog</a></li>
                    </ul>                                                                                                                                                                                                                                     </ul>
                  </div>
                </div>

                <!-- explore others -->
                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">EXPLORE OTHERS</div>
                    </div>

                    <div class="tag-cloud">
                      <div class="tags">
                        <a href="https://www.youtube.com">Python</a>
                        <a href="https://www.youtube.com">Ethical Hacking</a>
                        <a href="https://www.youtube.com">Linux</a>
                        <a href="https://www.youtube.com">Nmap</a>
                        <a href="https://www.youtube.com">AI Basics</a>
                        <a href="https://www.youtube.com">linux Essentials</a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- author -->
                <div class="sidebar-item">
                  <div class="heading center"><i>cyberdevilz.</i></div>
                </div>

              </div>
            </div>
            <!-- sidebar end -->

          </div>
          <!-- inner container end -->
        </div>        
        <!--container end  -->
    </div>
    <!-- main container end -->


    <!--Back-to-Top button-->
    <div class="enclose bordar black" id="bottomtoup" ><i class="fas fa-caret-up"></i></div>

    <script src="../static/crypt.js"></script>
    <script src="{{ url_for('static', filename='js/bottomtoup.js') }}" ></script>

{% endblock %}

