{% from 'tag_cloud.html' import tagCloud() %}
{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid p-0 black">
        <div class="crypt-heading heading headingtext" data-item = 'Linux Essentials' style="font-size:90px;padding-top:80px;"></div>

        <!-- jump to category -->
        <div class="container-fluid p-0">
          <div class="inner-container">

            <!-- videos -->
            <div class="videos">
              
              <!-- video1 -->
              <div class="video" id="linux1">
                <img src="../static/img/linux/linux-0.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/brJuW--sLfg">Introduction to Linux</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Hello my fellow coders!
                      I am too excited to start a new course on Linux Essentials. Linux is everywhere. The page you are viewing is most probably sent to you by a Linux server. Linux is considered to be the most favorite Operating System among developers. If you were to apply for work in a software cum service based environment,  I am sure that learning Linux will give you an extra edge  over other candidates. Due to it being open-sourced, Linux dominates the programming domain. So why not learn this skill and add it to your Tech Stack?

                      So without any further delay, let's jump into the course!</p>
                  </div>
                </div>
              </div>

              <!-- video2 -->
              <div class="video" id="linux2">
                <img src="../static/img/linux/linux-1.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/9MR73mG8GHA">Linux Directory Structure</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">It is important to learn how files and directories are organized in Linux. Do you know what are the purpose of each directories? Where are log files stored? Can you find the number of users present in Linux by just looking at the directory? You can answer these questions and much much more in this video. I Hope you will learn something new today :) 
                    </p>
                  </div>
                </div>
              </div>

              <!-- video3 -->
              <div class="video" id="linux3">
                <img src="../static/img/linux/linux-2.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/lwXxywBeefs">Directory Traversal</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Navigating through the directories efficiently not only cuts time but also it makes you look more professional. Learn the tips and tricks to change directory quickly and efficiently. 

                      In Linux we achieve directory traversal by using the cd command. And, in this video, I am going to dive deeper and explain all the aspects of the cd command. I am really excited to begin this video. So,  let's jump right in!</p>
                  </div>
                </div>
              </div>

              <!-- video4 -->
              <div class="video" id="linux4">
                <img src="../static/img/linux/linux-3.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/sWkqBU_WcWE">Listing The Directory Contents</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Hi coders, 
                      I am glad to tell you that I have released a video on listing the contents of a directory using the ls command. Although you can list the contents of a folder in any manner but we are going to see the most common way to achieve this.
                      
                      
                      I hope you will acquire quite new concepts after watching this video. Bye :)</p>
                  </div>
                </div>
              </div>

              <!-- video5 -->
              <div class="video" id="linux5">
                <img src="../static/img/linux/linux-4.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/iwW4NYaAnGQ">File And Folder Participants</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Hi coders, how are you all?
                      I hope you all are doing well and staying safe. 
                      In this video, I have explained you everything related to file and folder participants, i.e., how to create, delete, move, rename and copy files and folders (directories) in Linux.
                      
                      
                      I have also explained some of the mistake rookies do while learning them and taught you about the bits and pieces of the important parts of these commands.
                      
                      
                      Although I haven't covered all the flags of each command as it would be time consuming and the video would seem pretty useless, hence it is up to you to use the manual page as the reference and learn new flags for these commands. There are some hidden gems! Trust me :)
                      
                      
                      I hope you will enjoy this video and make sure to leave a like for the YouTube algorithm and also for our happiness :)
                      </p>
                  </div>
                </div>
              </div>

              <!-- video6 -->
              <div class="video" id="linux6">
                <img src="../static/img/linux/linux-5.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/oES9VV5C9js">Users, Groups and Sudo</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video will introduce you to one of the most important concepts in Linux. That is, understanding users, groups and the special group sudo and why they are so important to Linux. We will cover in depth about the various actions a user can do, the reason of creating a group and most importantly, we will answer the question - what the hell is this sudo? During this course, as we gain more knowledge about each concepts, I will also teach you how to edit the special sudoers file to give admin rights to any user present in Linux. So in short, we can say, this video will cover some aspects of access control in Linux as well. Although I will be making a whole new video on this topic as well.</p>
                  </div>
                </div>
              </div>



            </div>
            <!-- videos section end -->

            <!-- sidebar -->
            <div class="sidebar">
              <div class="sidebar-content">
                
                <div class="sidebar-item-level">
                  <div class="level">level - basic | intermediate</div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">contents</div>
                    </div>
                    
                    <ul class="sidebar-list">
                      <li><a href="#linux1">Introduction</a></li>
                      <li><a href="#linux2">Directory Structure</a></li>
                      <li><a href="#linux3">cd Command</a></li>
                      <li><a href="#linux4">ls Command</a></li>
                      <li><a href="#linux5">Files & Folder Participants</a></li>
                      <li><a href="#linux6">Users, Groups & Sudo</a></li>
                    </ul>                                                                                                                                                                                                                                     </ul>
                  </div>
                </div>

                <!-- explore others -->
                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">EXPLORE OTHERS</div>
                    </div>

                    {{tagCloud()}}
                    
                  </div>
                </div>

                <!-- author -->
                <div class="sidebar-item">
                  <div class="heading center"><i>cyberdevilz.</i></div>
                </div>

              </div>
            </div>
            <!-- sidebar end -->

          </div>
          <!-- inner container end -->
        </div>        
        <!--container end  -->
    </div>
    <!-- main container end -->


    <!--Back-to-Top button-->
    <div class="enclose bordar black" id="bottomtoup" ><i class="fas fa-caret-up"></i></div>

    <script src="../static/crypt.js"></script>
    <script src="{{ url_for('static', filename='js/bottomtoup.js') }}" ></script>

{% endblock %}

