{% from 'footer.html' import footer %}
{% from 'tag_cloud.html' import tagCloud %}
{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid p-0 black">
        <div class="crypt-heading heading headingtext" data-item = 'MONGO DB: COMING SOON' style="font-size:90px;padding-top:80px;"></div>        
        <!--container end  -->

        <!-- footer-section -->
        {{ footer() }}

    </div>
    <!-- main container end -->


    <!--Back-to-Top button-->
    <div class="enclose bordar black" id="bottomtoup" ><i class="fas fa-caret-up"></i></div>

    <script src="../static/js/crypt.js"></script>
    <script src="{{ url_for('static', filename='js/bottomtoup.js') }}" ></script>

{% endblock %}

