{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid p-0 black">
        <div class="crypt-heading heading headingtext" data-item = 'ethical hacking' style="font-size:90px;padding-top:80px;"></div>

        <!-- jump to category -->
        <div class="container-fluid p-0">
          <div class="inner-container">

            <!-- videos -->
            <div class="videos">
              <!-- video1 -->
              <div class="video" id="eth1">
                <img src="../static/img/ethicalhacking.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Installing Virtual Box and Parrot OS</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video explains you how to install VirtualBox and Parrot OS onto your device. In future videos I will be using Parrot OS to perform hacktivities, you can use any hacking OS [ either Parrot or Kali ] you want. Hence, if you are a Kali user, don't bother yourself downloading a fresh image of Parrot OS, the stuffs will work in Kali as well</p>
                  </div>
                </div>
              </div>

              <!-- video2 -->
              <div class="video" id="eth2">
                <img src="../static/img/ethicalhacking.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Preparing Your Own Lab</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video explains you how to configure your virtual box to create a virtual NAT network in which we will be connecting our parrot OS. We are also gonna install Guest Additions in PARROT OS to resolve some common problems.</p>
                  </div>
                </div>
              </div>

              <!-- video3 -->
              <div class="video" id="eth3">
                <img src="../static/img/ethicalhacking.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Installing Metasploitable2 vulnerable Linux Machine</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Metasploitable is a vulnerable Linux Server created to be hacked. Hence we can practice some common exploits on this server to understand how hacking really works in the real world and how to prevent them.</p>
                  </div>
                </div>
              </div>

              <!-- video4 -->
              <div class="video" id="eth4">
                <img src="../static/img/ethicalhacking.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Network Configuration of Metasploitable2</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video explains you how to add the vulnerable machine METASPLOITABLE2 into the network where Parrot OS is connected. This is because, we want them to be in the same network so that we can reach out to the machine and access it.</p>
                  </div>
                </div>
              </div>

              <!-- video5 -->
              <div class="video" id="eth5">
                <img src="../static/img/ethicalhacking.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">hacker's Methodology</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, I will tell you how a hacker, in general, devises his strategy to exploit the system.
                      Remember that every hacker has his own ways to deal with such situations, but all of them boils down to these steps, which I will discuss in this video.</p>
                  </div>
                </div>
              </div>




            </div>
            <!-- videos section end -->

            <!-- sidebar -->
            <div class="sidebar">
              <div class="sidebar-content">
                
                <div class="sidebar-item-level">
                  <div class="level">level - intermediate</div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">contents</div>
                    </div>
                    
                    <ul class="sidebar-list">
                      <li><a href="#eth1">Installing Virtual Box and Parrot OS</a></li>
                      <li><a href="#eth2">Preparing Your Own Lab</a></li>
                      <li><a href="#eth3">Installing Metasploitable2</a></li>
                      <li><a href="#eth4">Network Configuration of Metasploitable2</a></li>
                      <li><a href="#eth5">Hacker's Methodology</a></li>
                    </ul>                                                                                                                                                                                                                                     </ul>
                  </div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">EXPLORE OTHERS</div>
                    </div>                                                                                                                                                                                                                   </ul>
                  </div>
                </div>


                <div class="sidebar-item">
                  <div class="heading"><i>cyberdevilz.</i></div>
                </div>

              </div>
            </div>
            <!-- sidebar end -->

          </div>
          <!-- inner container end -->
        </div>        
        <!--container end  -->
    </div>
    <!-- main container end -->

    <script src="../static/crypt.js"></script>
{% endblock %}

