{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid p-0 black">
        <div class="crypt-heading heading headingtext" data-item = 'python programming' style="font-size:90px;padding-top:80px;"></div>

        <!-- jump to category -->
        <div class="container-fluid p-0">
          <div class="inner-container">

            <!-- videos -->
            <div class="videos">
              <!-- video1 -->
              <div class="video" id="pyth1">
                <img src="../static/img/pythbeg.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/im9VrizLYQA">Python Programming for Beginners : The Beginning</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video is the start of the Python Programming Course. Although this course will cover everything from basics, but still it is recommended that you too should spend some time admiring and understanding the essence of Python. The ONLY pre-requisite being: You need to install a code editor (IDE). I personally use visual studio code and you can download it too.</p>
                  </div>
                </div>
              </div>

              <!-- video2 -->
              <div class="video" id="pyth2">
                <img src="../static/img/pythinst.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/MGhDEeIkarg">Installing Python</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Installing Python is the first and the foremost step before we begin the journey into the realm of Python Programming. But on the contrary to many people's beliefs, installing python can drive you nuts if not now, then later if not done correctly. In this video, we will install Python the RIGHT way. We would also be verifying whether the Python has been installed correctly or not.</p>
                  </div>
                </div>
              </div>

              <!-- video3 -->
              <div class="video" id="pyth3">
                <img src="../static/img/pythstrings.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/J6D9_Ktt0Mg">Strings | Exploring Textual Data</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will explore Strings. String is one of the many Data Types of Python which helps us to work with textual forms of data.
                      Strings also come with many methods which one can you use to manipulate the textual data to your needs. We will also do some String manipulations in this video to understand that concept even deeper.</p>
                  </div>
                </div>
              </div>

              <!-- video4 -->
              <div class="video" id="pyth4">
                <img src="../static/img/pythstrings.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">Practice Question on Strings</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">A video wrapping the previous section's concepts in the form of a question.

                      If you are an experienced programmer, you may wish to skip this section. This section's sole purpose is to make watcher get his hands dirty by typing the code him/herself and finding the answer out.</p>
                  </div>
                </div>
              </div>

              <!-- video5 -->
              <div class="video" id="pyth5">
                <img src="../static/img/ethicalhacking.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=eip6PnCk67g">hacker's Methodology</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, I will tell you how a hacker, in general, devises his strategy to exploit the system.
                      Remember that every hacker has his own ways to deal with such situations, but all of them boils down to these steps, which I will discuss in this video.</p>
                  </div>
                </div>
              </div>




            </div>
            <!-- videos section end -->

            <!-- sidebar -->
            <div class="sidebar">
              <div class="sidebar-content">
                
                <div class="sidebar-item-level">
                  <div class="level">level - intermediate</div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">contents</div>
                    </div>
                    
                    <ul class="sidebar-list">
                      <li><a href="#pyth1">The Beginning</a></li>
                      <li><a href="#pyth2">Preparing Your Own Lab</a></li>
                      <li><a href="#pyth3">Installing Metasploitable2</a></li>
                      <li><a href="#pyth4">Practice Question: Strings</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                      <li><a href="#pyth5">Hacker's Mpythodology</a></li>
                    </ul>                                                                                                                                                                                                                                     </ul>
                  </div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">EXPLORE OTHERS</div>
                    </div>                                                                                                                                                                                                                   </ul>
                  </div>
                </div>


                <div class="sidebar-item">
                  <div class="heading"><i>pointman.</i></div>
                </div>

              </div>
            </div>
            <!-- sidebar end -->

          </div>
          <!-- inner container end -->
        </div>        
        <!--container end  -->
    </div>
    <!-- main container end -->

    <script src="../static/crypt.js"></script>
{% endblock %}

