{% from 'footer.html' import footer %}
{% from 'tag_cloud.html' import tagCloud %}
{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid p-0 black">
        <div class="crypt-heading heading headingtext" data-item = 'python programming' style="font-size:90px;padding-top:80px;"></div>

        <!-- jump to category -->
        <div class="container-fluid p-0">
          <div class="inner-container">

            <!-- videos -->
            <div class="videos">
              <!-- video1 -->
              <div class="video" id="pyth1">
                <img src="../static/img/python/pythbeg.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/im9VrizLYQA">Python Programming for Beginners : The Beginning</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video is the start of the Python Programming Course. Although this course will cover everything from basics, but still it is recommended that you too should spend some time admiring and understanding the essence of Python. The ONLY pre-requisite being: You need to install a code editor (IDE). I personally use visual studio code and you can download it too.</p>
                  </div>
                </div>
              </div>

              <!-- video2 -->
              <div class="video" id="pyth2">
                <img src="../static/img/python/pythinst.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/MGhDEeIkarg">Installing Python</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Installing Python is the first and the foremost step before we begin the journey into the realm of Python Programming. But on the contrary to many people's beliefs, installing python can drive you nuts if not now, then later if not done correctly. In this video, we will install Python the RIGHT way. We would also be verifying whether the Python has been installed correctly or not.</p>
                  </div>
                </div>
              </div>

              <!-- video3 -->
              <div class="video" id="pyth3">
                <img src="../static/img/python/pythstrings.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/J6D9_Ktt0Mg">Strings | Exploring Textual Data</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will explore Strings. String is one of the many Data Types of Python which helps us to work with textual forms of data.
                      Strings also come with many methods which one can you use to manipulate the textual data to your needs. We will also do some String manipulations in this video to understand that concept even deeper.</p>
                  </div>
                </div>
              </div>

              <!-- video4 -->
              <div class="video" id="pyth4">
                <img src="../static/img/python/pythstrings.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/HSIqPQxvtu0">Practice Question on Strings</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">A video wrapping the previous section's concepts in the form of a question.

                      If you are an experienced programmer, you may wish to skip this section. This section's sole purpose is to make watcher get his hands dirty by typing the code him/herself and finding the answer out.</p>
                  </div>
                </div>
              </div>

              <!-- video5 -->
              <div class="video" id="pyth5">
                <img src="../static/img/python/pythint.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/ixwO-keVfBc">Integers and Floats | Exploring Numerical Data</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will explore Integers and Floats. Integers and Floats are one of the many Data Types of Python which primarily helps us to work with numerical forms of data.

                      We will cover integers and floats in depth like covering Arithmetic operations, Shorthand operations and some useful functions among many.</p>
                  </div>
                </div>
              </div>

              <!-- video6 -->
              <div class="video" id="pyth6">
                <img src="../static/img/python/pythint.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/D8a9yhjMZ-A">Practice Question on Integers & Floats</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">A video wrapping the previous section's concepts in the form of a question.

                      If you are an experienced programmer, you may wish to skip this section. This section's sole purpose is to make watcher get his hands dirty by typing the code him/herself and finding the answer out.</p>
                  </div>
                </div>
              </div>

              <!-- video7 -->
              <div class="video" id="pyth7">
                <img src="../static/img/python/pythbool.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/zSGsKfnzBCQ">Conditionals and Booleans | Understanding the 'Trues and Falses'</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will work with and understand the backbone of all the programming languages. Yes! 0s and 1s, Trues and Falses. This entire video is dedicated towards conditionals and booleans. Conditionals are a set of three statements (if, else, elif) through which we can write logical and decision-based programs.</p>
                  </div>
                </div>
              </div>

              <!-- video8 -->
              <div class="video" id="pyth8">
                <img src="../static/img/python/pythbool.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/GuH0E0QTV2w">Practice Question on Conditionals & Booleans</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">A video wrapping the previous section's concepts in the form of a question.

                      If you are an experienced programmer, you may wish to skip this section. This section's sole purpose is to make watcher get his hands dirty by typing the code him/herself and finding the answer out.</p>
                  </div>
                </div>
              </div>

              <!-- video9 -->
              <div class="video" id="pyth9">
                <img src="../static/img/python/pythlists.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/X1OhjTz3UYY">Lists, Tuples and Sets | Working with sequential data</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Lists, Tuples and Sets allow us to work with a collection of data. In programming these datatypes are of utmost importance, Lists in particular. You will encounter situations were you would be tempted to use these. No other choice.</p>
                  </div>
                </div>
              </div>

              <!-- video10 -->
              <div class="video" id="pyth10">
                <img src="../static/img/python/pythdict.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/MEeNzsnmQdg">Dictionaries | The Key-Value Pair</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Dictionaries help us in many ways. Its one of the fastest ways to retrieve the data provided that you know the key. In this video, we will be learning about Dictionaries and its usage through meaningful examples. We will cover the dictionary fundamentals entirely in this 14-minute video.</p>
                  </div>
                </div>
              </div>

              <!-- video11 -->
              <div class="video" id="pyth11">
                <img src="../static/img/python/pythdict.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/_yPWXLoahPo">Practice Question on Dictionary</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">A video wrapping the previous section's concepts in the form of a question.

                      If you are an experienced programmer, you may wish to skip this section. This section's sole purpose is to make watcher get his hands dirty by typing the code him/herself and finding the answer out.</p>
                  </div>
                </div>
              </div>

              <!-- video12 -->
              <div class="video" id="pyth12">
                <img src="../static/img/python/pythloops.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/WV51aJ_Y5HQ">Loops and Iterations | For and While Loops</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will be learning about iterations and loops. Loops are used to repetitively perform a particular task for a given amount of iterations or based on a certain conditional.

                      We will be covering for, while loops, and will discuss the difference between them.</p>
                  </div>
                </div>
              </div>

              <!-- video13 -->
              <div class="video" id="pyth13">
                <img src="../static/img/python/pythloops.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/k3rVVQ6Ctv0">Practice Question on Loops, Iterators, Lists, Tuples</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">A video wrapping the previous section's concepts in the form of a question.

                      If you are an experienced programmer, you may wish to skip this section. This section's sole purpose is to make watcher get his hands dirty by typing the code him/herself and finding the answer out.</p>
                  </div>
                </div>
              </div>

              <!-- video14 -->
              <div class="video" id="pyth14">
                <img src="../static/img/python/pythfunc.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/sGdI_Mxd3TM">Functions | Packaging Codes Together</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will be learning about Functions in Python. Now, Functions help us in many ways. It paves the way for cleaner code and facilitates faster program development. Many concepts like DRY revolves around using function.</p>
                  </div>
                </div>
              </div>

              <!-- video15 -->
              <div class="video" id="pyth15">
                <img src="../static/img/python/pythfunc.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/qyLwLOnhGw4">Practice Question on Functions</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">A video wrapping the previous section's concepts in the form of a question.

                      If you are an experienced programmer, you may wish to skip this section. This section's sole purpose is to make watcher get his hands dirty by typing the code him/herself and finding the answer out.</p>
                  </div>
                </div>
              </div>

              <!-- video16 -->
              <div class="video" id="pyth16">
                <img src="../static/img/python/pythonmu.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/vN-y-uWZX9g">Mutables & Immutables</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will be looking at the mutability and immutability behavior of datatypes and objects. This is one of those concepts that trips many beginner level programmers off.

                      Mutable objects can change the state or contents after being assigned to a variable while immutable objects cannot. Watch and learn this concept with a rich example to make sure you understand this concept really well</p>
                  </div>
                </div>
              </div>

              <!-- video17 -->
              <div class="video" id="pyth17">
                <img src="../static/img/python/pythonis.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/eip6PnCk67g">is Keyword</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">'is' keyword is used to check the identity of given variables. It returns us the boolean values based on that. Also, the working of is keyword of mutable datatypes are quite different from that of immutable datatypes. We will look into this unexpected behavior in this video along with other implementations of is keyword.</p>
                  </div>
                </div>
              </div>

              <!-- video18 -->
              <div class="video" id="pyth18">
                <img src="../static/img/python/pythonloopelse.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/eS8wtcwESZc">Loops with Else</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">We have used else with an if statement earlier and that makes perfect sense there. But what does it mean to have else along with loops? This concept might not be well understood by beginners or intermediate programmers alike.

                      Watch this video as we find out the essence of using else statement and under what condition would else get triggered.</p>
                  </div>
                </div>
              </div>

              <!-- video19 -->
              <div class="video" id="pyth19">
                <img src="../static/img/python/pythonprint.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/yX4eAF5aaNo">The Print Function</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">We have been using this function more frequently than variables! Well, print function is very important as it acts as our makeshift debugger. The general definition of print function is that it displays the output to the terminal.

                      In this video, we will be covering the print function in detail and we will also be taking a look at the different parameters that you can pass along with print function to format it.</p>
                  </div>
                </div>
              </div>

              <!-- video20 -->
              <div class="video" id="pyth20">
                <img src="../static/img/python/pytherror.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/eWyzo4Dad78">Error Handling | Try·Except·Finally</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">In this video, we will be taking a look at how to handle errors and exceptions. Often, when you develop programs for end users, you don't really want to directly show them the error messages in case you face an error. So, it is much better to handle errors when they are thrown by your program in a way that goes easy on the users using your application.</p>
                  </div>
                </div>
              </div>

              <!-- video21 -->
              <div class="video" id="pyth21">
                <img src="../static/img/python/pythonclass.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/M6XxL5cY6do">Python OOP: Classes & Objects</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">This video marks the beginning of the Object Oriented Programming (OOP) side of Python. OOP is a programming model where we make use of classes and objects to represent our codes. It is considered one of the neatest and most logical form of programming. 

                      Class is an encapsulation of similar data (called attributes) and functions (called methods). Objects can access these attributes and methods. Each object that you create would have its own blueprint of the class which it is representing.</p>
                  </div>
                </div>
              </div>

              <!-- video22 -->
              <div class="video" id="pyth22">
                <img src="../static/img/python/pythonself.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/D6nuw7lbNgw">Python OOP: Self in Detail</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Self word might be pretty confusing for beginners who enter the realm of OOP in Python. But, believe me, it is pretty straight-forward and easy to understand concept. Work and experiment with self, and you would master it in no time!

                      Self is not a keyword by the way, it is a convention. You can name it anything you want, but developer across the world know it as self and I too recommend you to follow the same convention.</p>
                  </div>
                </div>
              </div>

              <!-- video23 -->
              <div class="video" id="pyth23">
                <img src="../static/img/python/pythonclassvar.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/4L4JDo1UNmg">Python OOP: Class Variables</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Till now you have worked with instance variables and classes. Well, instance variables are unique to each object. While class variables are shared among all the objects alike.

                      Here too, there are couple of elements of surprise. We will understand them and make ourselves clear with the implementation of class variables and address these issues with proper examples.</p>
                  </div>
                </div>
              </div>

              <!-- video24 -->
              <div class="video" id="pyth24">
                <img src="../static/img/python/stringinter.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/qA0huC0QsNc">String Interpolation</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Every beginner level programmers make this sort of mistake when it comes to plugging in variables in a string. They concatenate the variable with the string in order to achieve this. But, this is in general, a very wrong practice and prone to error.

                      To overcome this, we make use of String Interpolation. SI is nothing but making use of placeholders to fill in the variable value in the string. This short video will get you started with this concept and make you understand really well.
                      </p>
                  </div>
                </div>
              </div>

              <!-- video25 -->
              <div class="video" id="pyth25">
                <img src="../static/img/python/fcf.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/EBtjFddFvSI">First Class Function</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Everything in Python is a proper object. This includes Functions too. Now, many of us haven't heard about this earlier, but this is actually true. Functions, like any other object, can be passed as arguments, be renamed etc.

                      This video will extensively cover the fundamentals of functions being a first class object and how FCF can pave the way or open the doors for other developmental practices.
                      
                      </p>
                  </div>
                </div>
              </div>

              <!-- video26 -->
              <div class="video" id="pyth26">
                <img src="../static/img/python/closures.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/bWpm80GzY6w">Closures</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Python functions acts just like other ordinary first class objects. This property formed the base of various other interesting 'phenomena' like closures. 

                      Closure is when a function object is able to remember the value in its enclosing scope. Nesting a function is the condition for closures to happen. In this video, we will cover closure in detail by taking a couple of examples.
                      
                      </p>
                  </div>
                </div>
              </div>

              <!-- video27 -->
              <div class="video" id="pyth27">
                <img src="../static/img/python/decorators.png">
                <div class="post-section" style="padding-top:30px;">
                  <div class="heading" style="font-size:45px;line-height: 45px;"><a class="venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/X2Jq5XPTYKk">Decorators</a></div>
                  <div class="post-desc">
                    <p class="post-desc-content">Ever found a python code that makes use of '@' operator above any function? Well, upon doing a quick search you will find out that these types are called decorators. Now, decorators can be either functions or classes. But most prominent form being functions.

                      In this video, we will be looking at decorators (function) in a simple and a lucid manner. Decorators basically extends the functionality of a function without explicitly modifying it. Don't worry if this doesn't make sense to you. We will cover more about it in this video.
                      
                      </p>
                  </div>
                </div>
              </div>


            </div>
            <!-- videos section end -->

            <!-- sidebar -->
            <div class="sidebar">
              <div class="sidebar-content">
                
                <div class="sidebar-item-level">
                  <div class="level">level - basic | intermediate</div>
                </div>

                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">contents</div>
                    </div>
                    
                    <ul class="sidebar-list">
                      <li><a href="#pyth1">The Beginning</a></li>
                      <li><a href="#pyth2">Installing Python</a></li>
                      <li><a href="#pyth3">Strings</a></li>
                      <li><a href="#pyth4">Practice Question: Strings</a></li>
                      <li><a href="#pyth5">Integers & Floats</a></li>
                      <li><a href="#pyth6">Practice Question: Integers & Floats</a></li>
                      <li><a href="#pyth7">Conditionals & Booleans</a></li>
                      <li><a href="#pyth8">Practice Question: C & B</a></li>
                      <li><a href="#pyth9">Lists, Tuples & Sets</a></li>
                      <li><a href="#pyth10">Dictionaries</a></li>
                      <li><a href="#pyth11">Practice Question: Dictionaries</a></li>
                      <li><a href="#pyth12">Loops & Iterations</a></li>
                      <li><a href="#pyth13">Practice Question: Loops, Lists, Tuples</a></li>
                      <li><a href="#pyth14">Functions</a></li>
                      <li><a href="#pyth15">Practice Question: Functions</a></li>
                      <li><a href="#pyth16">Mutables & Immutables</a></li>
                      <li><a href="#pyth17">Is Keyword</a></li>
                      <li><a href="#pyth18">Loops with Else</a></li>
                      <li><a href="#pyth19">Print Function</a></li>
                      <li><a href="#pyth20">Error Handling</a></li>
                      <li><a href="#pyth21">Classes & Objects</a></li>
                      <li><a href="#pyth22">Self Convention</a></li>
                      <li><a href="#pyth23">Class Variables</a></li>
                      <li><a href="#pyth24">String Interpolation</a></li>
                      <li><a href="#pyth25">First Class Function</a></li>
                      <li><a href="#pyth26">Closures</a></li>
                      <li><a href="#pyth27">Decorators</a></li>
                      <li><a href="#pyth28">Classmethods & Staticmethods</a></li>
                    </ul>                                                                                                                                                                                                                                     </ul>
                  </div>
                </div>

                <!-- explore others -->
                <div class="sidebar-item">
                  <div class="sidebar-item-holder" style="text-align: left;">
                    <div class="title-holder" style="position: relative;margin-bottom:20px;">
                      <div class="un-anywhere" style="bottom:0; height:2px;width:10%;"></div>
                      <div class="heading" style="font-size:35px;">EXPLORE OTHERS</div>
                    </div>

                    {{ tagCloud() }}

                  </div>
                </div>

                <!-- author -->
                <div class="sidebar-item">
                  <div class="heading center"><i>pointman.</i></div>
                </div>

              </div>
            </div>
            <!-- sidebar end -->

          </div>
          <!-- inner container end -->
        </div>        
        <!--container end  -->

        <!-- footer-section -->
        {{ footer() }}

    </div>
    <!-- main container end -->

    <!--Back-to-Top button-->
    <div class="enclose bordar black" id="bottomtoup" ><i class="fas fa-caret-up"></i></div>

    <script src="../static/js/crypt.js"></script>
    <script src="{{ url_for('static', filename='js/bottomtoup.js') }}" ></script>
    
{% endblock %}

