{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid p-0 secondary" style="min-height: 100vh;">
        
        <div class="back-drop">
            <div class="topic">
                <div class="heading center dark reveal-text" style="font-size: 310px;">driving force</div> 
            </div>
            <div class="front-drop secondary">
                <div class="sponsors">
                    {% for member in sponsors %}
                        <span>{{ member }}</span>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        {% for member in sponsors %}
        <span class="heading sub-heading gray">{{member}}</span>
        {% endfor %}
    
    </div>
{% endblock %}