{% macro tagCloud() %}

    <div class="tag-cloud">
        <div class="tags">
        <a href="https://youtube.com/playlist?list=PLbsliZj8JocIez5TvsbMaVKgF-sxoal0C">Python</a>
        <a href="https://youtube.com/playlist?list=PLbsliZj8JocIOMBHKIepbwy30IxwZy7oP">Ethical Hacking</a>
        <a href="https://www.youtube.com/playlist?list=PLbsliZj8JocK-tz3bR8LVp_ZdN0CqG15b">Linux</a>
        <a href="https://www.youtube.com/playlist?list=PLbsliZj8JocK_97muwbFPdk_HuQNYioTK">Nmap</a>
        <!-- <a href="https://www.youtube.com">AI Basics</a> -->
        <a href="https://www.youtube.com/playlist?list=PLbsliZj8JocK6vYXvm4Yn2ftfvxGgutQV">Git Essentials</a>
        <a href="https://www.youtube.com">Web Dev with Flask</a>
        <a href="https://www.youtube.com">Bug Bounty</a>
        <a href="https://www.youtube.com">Malware Dev in C++</a>
        <a href="https://www.youtube.com">Machine Learning</a>
        <a href="https://www.youtube.com">Ransomware Dev with Python</a>
        <a href="https://www.youtube.com">PostgreSQL Database</a>
        <a href="https://www.youtube.com">C Programming</a>
        </div>
    </div>

{% endmacro %}
