{% extends  "layout.html" %}
{% block content %}

    <div class="container-fluid secondary pl-0">
        
        <!-- community donations graph -->
        <div class="community-goals"style="padding-top:80px;">
            <!-- logo -->
            <div class="heading donation-logo"style="position:relative;line-height: 800px;letter-spacing:-100px;">
                <div class="letter" style="--fillvar:{{filler}}">zb</div>
                <div class="un-anywhere below-logo"style="--fillmarker: {{marker}};"></div>
            </div>

            <!-- description -->
            <div class="heading donation-desc center">
                <div class="heading">
                    your memberships keep zbunker alive and running
                </div>
                <div class="heading large-heading original" style="line-height: 100px;font-size: 70px; padding-top:60px;">our goal : {{ total }}</div>
                <div class="heading large-heading original" style="line-height: 100px;font-size: 70px;">total members : {{ members }}</div>
                <div class="heading" style="padding-top: 50px;">
                    help us make it happen
                </div>
                <div class="how-to-donate">
                    <a href="#how-to-contribute" class="donate-links">how to contribute?</a>
                    <a href="#how-to-contribute" class="donate-links">our Sponsors & Members</a>
                </div>
            </div>
        </div>
        
        <!-- Contribution Guide -->
        <div class="contribution-guide" style="padding-top: 80px;">
            <div class="topic center">
                <div class="heading center underline un-white" style="display:inline-block; font-size:80px;" id="how-to-contribute">
                    Support ZBunker community
                </div>
                

            </div>
            
        </div>

    </div>

{% endblock %}