{% extends  "layout.html" %}
{% block content %}

    <div class="container-fluid secondary pl-0">
        
        <!-- community donations graph -->
        <div class="community-goals">
            <!-- zbunker rajdhani will do better. transparent color and background will be filled
                    filled according to the percentage of members -->
            <div class="heading center large" style="padding-top:80px;">community memberships goal ( {{ members }} so far )</div>
            <div class="heading center">split expected here</div>    
        </div>
        
        

    </div>

{% endblock %}