{% extends  "layout.html" %}
{% block content %}

    <div class="container-fluid secondary pl-0">
        
        <!-- community donations graph -->
        <div class="community-goals"style="padding-top:80px;">
            <!-- zbunker rajdhani will do better. transparent color and background will be filled
                    filled according to the percentage of members -->
            <div class="heading donation-logo"style="position:relative;line-height: 800px;letter-spacing:-100px;">
                <div class="letter" style="--fillvar:{{filler}}">zb</div>
                <div class="un-anywhere below-logo"style="--fillmarker: {{marker}};"></div>
            </div>
            <div class="heading donation-desc">split expected here</div>    
        </div>
        
        

    </div>

{% endblock %}